.picture {
    padding-left: 200px;
    margin-bottom: 50px;
    margin-top: 20px;
}

form {
    border: 2px solid red;
    margin-left: 300px;
    padding-left: 50px;
    padding-top: 20px;
    width: 500px;
    height: 500px;
    background-color: rgb(246, 212, 212);
}